html {}

body {
    margin: auto;
    font-family: arial, sans-serif;
    font-size: 14px;
}

nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding: 4px;
}

#left-nav {
    padding-left: 12px;
}

#right-nav {
    padding-right: 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

ul li {
    padding: 8px 12px;
}

#apps {
    height: 40px;
    width: 40px;
}


#sign-in {
    background: #1a73e8;
    color: #fff;
    border: 0px;
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 1em;
}

#sign-in:hover {
    background: #2b7de9;
    -moz-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
    box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
    cursor: pointer;

}

main {
    max-width: 1280px;
    padding-top: 50px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#googleimg {
    padding: 5px;
}

#search-0 {
    padding: 18px;
    display: flex;
    justify-content: center;
}

#search-1 {
    padding: 10px 15px;
    max-width: 550px;
    flex: 1;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    display: flex;
}

#search-1:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: rgba(223, 225, 229, 0);
}


input {
    display: block;
    margin: auto;
    border-style: none;
    font-size: 16px;
    flex-grow: 1;
    padding-left: 10px;
}

#x {
    cursor: pointer;
}

.search-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
background-color: #f8f9fa;
border: 1px solid #dadce0;
color: #202124;
}

#workspace {
    color: #1a0dab;
    text-decoration: none;
}

#workspace:hover,
a:active {
    text-decoration: underline;
}

footer {
    overflow: hidden;
    padding: 8px;
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer a {
    color: #70757a;
}

#left-footer {
    padding-left: 10px;
}

#right-footer {
    padding-right: 24px;
}

a {
    color: #222;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}